@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap");

* {
  font-family: "Quicksand", sans-serif;
}

.body {
  background-color: white;
  color: black;
}

.navbar {
  background-color: #595959;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #878787;
  color: black;
  cursor: pointer;
  transition-duration: all 0.3s ease 0s;
}

.navbar a.active {
  background-color: #1abef4;
  color: white;
}

.navbar button {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 14px 16px;
  font-size: 17px;
  transition-duration: all 0.3s ease 0s;
  cursor: pointer;
}

.navbar button:hover {
  background-color: #878787;
  color: black;
  border: none;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.darktheme {
  background-color: #222222;
  color: white;
  border: none;
}

.navbar button i {
  color: #262626;
  font-size: 17px;
}

#todolist {
  font-size: 18px;
  margin-left: 50px;
}

#things {
  margin-left: 50px;
}

#SI {
  display: block;
  margin-left: 10px;
  width: 45%;
  height: 45%;
  margin-top: 15px;
}

.PTable {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  margin-top: 20px;
  margin-left: 10px;
  width: 75%;
  height: 50%;
}
